body {
    font-family: Arial, sans-serif;
    /* background-color: #f2f2f2; */
    margin: 0;
    padding: 0;
}

#task-form {

    width: 30%;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
}

#create,#update,#delete {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#create:hover{
    background-color: #45a049;
}

/* Additional Styling */

#task-form {
    border: 2px solid #ddd;
    background-color: #f9f9f9;
    padding: 30px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 30px;
}

label {
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
}

input[type="text"],
textarea,
select {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #555;
}

#create,#update,#delete{
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
}




#create:hover {
    background-color: #45a049;
}


/* date  */
input[type="date"] {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    color: #555;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
   
    padding: 0;
    margin: 0;
    color: #555;
  }

  /* Adjust the size and spacing as per your preference */
  input[type="date"] {
    width: 200px;
    margin-right: 10px;
  }

  /* Optional: Hover and Focus styles */
  input[type="date"]:hover,
  input[type="date"]:focus {
    outline: none;
    border-color: #999;
  }
  
  .error-message{
    margin-top: 10px;
    color: red;
    font-size: 12px;
  }

